$section-padding-1200:100px;
$section-padding-992:80px;
$section-padding-768:60px;
$section-padding-575:40px;
$section-padding-320:40px;
$section-header-font-size-1200:48px;
$section-header-font-size-992:40px;
$section-header-font-size-768:40px;
$section-header-font-size-575:30px;
$section-header-font-size-320:30px;