.article-block {
    .article-block__information {
        display: grid;
        grid-template-areas: "image title" "image columns" "image table" "image button";
        justify-content: space-between;
        align-items: start;
        grid-template-columns: 500px 600px;
        grid-template-rows: auto auto auto 1fr;
        grid-column-gap: 20px;
    }
    &--right-image {
        .article-block__information {
            grid-template-areas: "title image" "columns image" "table image" "button image";
            grid-template-columns: 600px 500px;
        }
    }
}

.article-block__title {
    margin-bottom: 30px;
    grid-area: title;
}

.article-block__header {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
}

.article-block__category {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #036CCA;
    text-transform: uppercase;
}

.article-block__columns {
    grid-area: columns;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.article-block__column {}

.article-block__table {
    grid-area: table;
    margin-bottom: 50px;
}

.article-block__button {
    grid-area: button;
    max-width: 300px;
    width: 100%;
}

.article-block__image {
    grid-area: image;
    max-width: 500px;
    width: 100%;
    object-fit: cover;
}

@media (max-width:1200px) {
    .article-block {
        .article-block__information {
            grid-template-areas: "image title title" "image columns  columns" "table table table" "button button button";
            grid-template-columns: 400px 1fr 300px;
            grid-template-rows: auto 1fr auto auto;
            grid-column-gap: 20px;
        }
        &--right-image {
            .article-block__information {
                grid-template-areas: "title title image" "columns  columns image" "table table table" "button button button";
                grid-template-columns: 300px 1fr 400px;
                grid-template-rows: auto 1fr auto auto;
                grid-column-gap: 20px;
            }
        }
    }
    .article-block__table {
        margin-bottom: 20px;
    }
}

@media (max-width:992px) {
    .article-block__columns {
        display: block;
        margin-bottom: 0px;
    }
    .article-block__column {
        max-width: none;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .article-block {
        .article-block__information {
            grid-template-areas: "image" "title" "columns" "table" "button";
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            align-items: center;
        }
    }
    .article-block__image {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .article-block__header {
        font-size: 25px;
    }
    .article-block__title {
        justify-self: center;
    }
    .article-block__table {
        margin-bottom: 20px;
    }
}