.button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
    border: 1px solid #FFFFFF;
    color: #FFF;
    background-color: transparent;
    cursor: pointer;
}