.footer {
    padding: 100px 0px 150px;
    font-size: 16px;
    line-height: 19px;
}

.footer__inner {
    display: flex;
    justify-content: flex-end;
}

.footer__column {
    &+& {
        margin-left: 50px;
    }
    &--text {
        p+p {
            margin-top: 50px;
        }
    }
    &--menu,
    &--links {
        text-transform: uppercase;
        li+li {
            margin-top: 20px;
        }
    }
    .footer__link {
        transition: color 0.5s;
    }
    .footer__link:hover {
        color: #CB0E0E;
    }
}

@media (max-width:992px) {
    .footer {
        font-size: 16px;
        line-height: 19px;
        padding: 50px 0px;
    }
    .footer__inner {
        justify-content: space-between;
    }
}

@media (max-width:575px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__column {
        max-width: none;
        width: auto;
        &+& {
            margin-left: 0;
        }
    }
    .footer__column--links {
        text-align: right;
    }
    .footer__column--text {
        text-align: center;
        p {
            max-width: 100%;
        }
        p+p {
            margin-top: 10px;
        }
        margin-bottom: 20px;
    }
}